In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.metrics import r2_score, mean_absolute_error

In [2]:
raw_data = pd.read_csv('energydata_complete.csv')
raw_data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [3]:
raw_data.shape

(19735, 29)

In [4]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [5]:
raw_data.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [6]:
data = raw_data.copy()

### Question 12
From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two d.p.?

In [7]:
linear_model = LinearRegression()

In [8]:
x = data[['T2']]
y = data['T6']

linear_model.fit(x, y)

LinearRegression()

In [9]:
y_pred = linear_model.predict(x)

In [10]:
np.round(r2_score(y, y_pred), 2)

0.64

### Question 13
Normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. The target variable is “Appliances”. 

Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set. Answer the following questions:

What is the Mean Absolute Error (in two decimal places)?

In [11]:
data.drop(columns=['date', 'lights'], inplace=True)

In [12]:
scaler = MinMaxScaler()

In [13]:
inputs = data.drop(columns=['Appliances'])
target = data['Appliances']

In [14]:
scaler.fit(inputs)

MinMaxScaler()

In [15]:
scaled_inputs = scaler.transform(inputs)

In [16]:
scaled_inputs = pd.DataFrame(scaled_inputs, columns=inputs.columns)
scaled_inputs.head()

,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,0.381691,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,0.381691,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,0.380037,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,0.380037,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,0.380037,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

In [17]:
X_train, X_test, y_train, y_test = train_test_split(
             scaled_inputs, target, test_size=0.3, random_state=42)

In [18]:
linear_model = LinearRegression()

In [19]:
linear_model.fit(X_train, y_train)

LinearRegression()

In [20]:
y_pred_lin = linear_model.predict(X_test)

In [21]:
np.round(mean_absolute_error(y_test, y_pred_lin), 2)

53.64

### Question 14
What is the Residual Sum of Squares (in two decimal places)?

In [22]:
rss = np.sum(np.square(y_test - y_pred_lin))
np.round(rss, 2)

51918501.21

### Question 15
What is the Root Mean Squared Error (in three decimal places)?

In [23]:
rmse = np.sqrt(mean_absolute_error(y_test, y_pred_lin))
np.round(rmse, 3)

7.324

### Question 16
What is the Coefficient of Determination (in two decimal places)?

In [24]:
np.round(r2_score(y_test, y_pred_lin), 3)

0.149

### Question 17
Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [25]:
weights = linear_model.coef_

In [26]:
feature_weights = pd.DataFrame()

In [27]:
feature_weights['weights'] = linear_model.coef_

In [28]:
feature_weights['features'] = inputs.columns

In [29]:
feature_weights.head()

      weights features
0   -3.510725       T1
1  592.294862     RH_1
2 -252.710373       T2
3 -488.666805     RH_2
4  310.971037       T3

In [30]:
feature_weights[feature_weights['weights']==feature_weights['weights'].max()]

      weights features
1  592.294862     RH_1

In [31]:
feature_weights[feature_weights['weights']==feature_weights['weights'].min()]

      weights features
3 -488.666805     RH_2

### Question 18
Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [32]:
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(X_train, y_train)

Ridge(alpha=0.4)

In [33]:
y_pred_ridge = ridge_reg.predict(X_test)

In [34]:
rmse_ridge = np.sqrt(mean_absolute_error(y_test, y_pred_ridge))
np.round(rmse_ridge, 3)

7.321

### Question 19
Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [35]:
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(X_train, y_train)

Lasso(alpha=0.001)

In [36]:
weights = lasso_reg.coef_

In [37]:
print(weights)

[  -4.14712394  590.59982716 -249.46879771 -484.56533287  310.21038378
  102.20461099   30.34519749   27.44590464  -17.11872329   17.10332116
  250.08097851   40.09288319   10.34680867  -47.38909406  108.88342254
 -168.69547613 -202.5025445   -42.45510038 -332.57169255    7.28215443
  -78.00038519   31.38951445   13.07831882  118.5980301     1.63117421
    0.        ]

### Question 20
What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)

In [38]:
y_pred_lasso = lasso_reg.predict(X_test)

In [39]:
rmse_lasso = np.sqrt(mean_absolute_error(y_test, y_pred_lasso))
np.round(rmse_lasso, 3)

7.323